#Interface {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 32px;
}

.Input {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

p {
    margin: 0px;
}